**Construcción de dataset de análisis**

In [15]:
import pandas as pd

dataset1 = "viajeros-hospedados-residentes-y-no-residentes-por-destino.csv"
datos1 = pd.read_csv(dataset1)
cant_viajeros_res_nores = datos1.iloc[:, :4]
cant_viajeros_res_nores

     indice_tiempo region_de_destino origen_viajeros  viajeros
0       2007-01-01      Buenos Aires      Residentes  401221.0
1       2007-01-01      Buenos Aires   No residentes   12889.0
2       2007-01-01              CABA      Residentes  139181.0
3       2007-01-01              CABA   No residentes  196750.0
4       2007-01-01              Cuyo      Residentes  125410.0
...            ...               ...             ...       ...
2907    2024-04-01           Litoral   No residentes   26179.0
2908    2024-04-01             Norte      Residentes  130329.0
2909    2024-04-01             Norte   No residentes   19412.0
2910    2024-04-01         Patagonia      Residentes  200580.0
2911    2024-04-01         Patagonia   No residentes   58233.0

[2912 rows x 4 columns]

In [23]:
dataset2 = "estadia-media-residentes-y-no-residentes-por-destino.csv"
datos2 = pd.read_csv(dataset2)
estadia_media_res_nores = datos2.iloc[:, :4]
estadia_media_res_nores

     indice_tiempo region_de_destino origen_viajeros  estadia_media_en_noches
0       2007-01-01      Buenos Aires           Total                      5.3
1       2007-01-01      Buenos Aires      Residentes                      5.3
2       2007-01-01      Buenos Aires   No residentes                      3.8
3       2007-01-01              CABA           Total                      2.4
4       2007-01-01              CABA      Residentes                      2.3
...            ...               ...             ...                      ...
4363    2024-04-01             Norte      Residentes                      1.8
4364    2024-04-01             Norte   No residentes                      1.9
4365    2024-04-01         Patagonia           Total                      2.3
4366    2024-04-01         Patagonia      Residentes                      2.2
4367    2024-04-01         Patagonia   No residentes                      2.3

[4368 rows x 4 columns]

In [27]:
dataset3 = "tasas-de-ocupacion-plazas-por-region-y-categoria.csv"
datos3 = pd.read_csv(dataset3)
tasas_ocup_plazas = datos3.iloc[:, :4]
tasas_ocup_plazas

,indice_tiempo,region_de_destino,categoria_del_hotel,tasa_de_ocupacion_plazas
0,2012-01-01,Buenos Aires,1 y 2 estrellas,0.63
1,2012-01-01,Buenos Aires,3 estrellas/boutiques/aparts,0.67
2,2012-01-01,Buenos Aires,4 y 5 estrellas,0.62
3,2012-01-01,Buenos Aires,Para Hoteles,0.69
4,2012-01-01,Buenos Aires,Total,0.66
...,...,...,...,...
5175,2024-04-01,Patagonia,1 y 2 estrellas,0.36
5176,2024-04-01,Patagonia,3 estrellas/boutiques/aparts,0.29
5177,2024-04-01,Patagonia,4 y 5 estrellas,0.36
5178,2024-04-01,Patagonia,Para Hoteles,0.21
5179,2024-04-01,Patagonia,Total,0.30

In [31]:
dataset4 = "tasas-de-ocupacion-habitacion-por-region-y-categoria.csv"
datos4 = pd.read_csv(dataset4)
tasas_ocup_habit = datos4.iloc[:, :4]
tasas_ocup_habit

,indice_tiempo,region_de_destino,categoria_del_hotel,tasa_de_ocupacion_habitaciones
0,2012-01-01,Buenos Aires,1 y 2 estrellas,0.65
1,2012-01-01,Buenos Aires,3 estrellas/boutiques/aparts,0.72
2,2012-01-01,Buenos Aires,4 y 5 estrellas,0.67
3,2012-01-01,Buenos Aires,Para Hoteles,0.76
4,2012-01-01,Buenos Aires,Total,0.71
...,...,...,...,...
5175,2024-04-01,Patagonia,1 y 2 estrellas,0.48
5176,2024-04-01,Patagonia,3 estrellas/boutiques/aparts,0.39
5177,2024-04-01,Patagonia,4 y 5 estrellas,0.49
5178,2024-04-01,Patagonia,Para Hoteles,0.26
5179,2024-04-01,Patagonia,Total,0.42

In [35]:
dataset5 = "facturacion-total-en-pesos-por-region-y-categoria.csv"
datos5 = pd.read_csv(dataset5)
factu_region_categ = datos5.iloc[:, :4]
factu_region_categ

,indice_tiempo,region_de_destino,categoria_del_hotel,facturacion_total_en_pesos
0,2012-01-01,Buenos Aires,1 y 2 estrellas,4.481112e+07
1,2012-01-01,Buenos Aires,3 estrellas/boutiques/aparts,8.800060e+07
2,2012-01-01,Buenos Aires,4 y 5 estrellas,6.847462e+07
3,2012-01-01,Buenos Aires,Para Hoteles,8.122050e+07
4,2012-01-01,CABA,1 y 2 estrellas,1.102907e+07
...,...,...,...,...
4139,2024-04-01,Norte,Para Hoteles,7.067182e+08
4140,2024-04-01,Patagonia,1 y 2 estrellas,2.825963e+09
4141,2024-04-01,Patagonia,3 estrellas/boutiques/aparts,6.432717e+09
4142,2024-04-01,Patagonia,4 y 5 estrellas,1.579218e+10
4143,2024-04-01,Patagonia,Para Hoteles,2.517031e+09

In [39]:
data1 = cant_viajeros_res_nores.merge(estadia_media_res_nores, on=['indice_tiempo', 'region_de_destino', 'origen_viajeros'], how='outer')
data1

,indice_tiempo,region_de_destino,origen_viajeros,viajeros,estadia_media_en_noches
0,2007-01-01,Buenos Aires,Residentes,401221.0,5.3
1,2007-01-01,Buenos Aires,No residentes,12889.0,3.8
2,2007-01-01,CABA,Residentes,139181.0,2.3
3,2007-01-01,CABA,No residentes,196750.0,2.4
4,2007-01-01,Cuyo,Residentes,125410.0,2.7
...,...,...,...,...,...
4363,2024-04-01,Cuyo,Total,NaN,2.2
4364,2024-04-01,Córdoba,Total,NaN,2.2
4365,2024-04-01,Litoral,Total,NaN,1.9
4366,2024-04-01,Norte,Total,NaN,1.8
4367,2024-04-01,Patagonia,Total,NaN,2.3

In [41]:
data2 = tasas_ocup_plazas.merge(tasas_ocup_habit, on=['indice_tiempo', 'region_de_destino', 'categoria_del_hotel'], how='outer').merge(factu_region_categ, on=['indice_tiempo', 'region_de_destino', 'categoria_del_hotel'], how='outer')
data2

,indice_tiempo,region_de_destino,categoria_del_hotel,tasa_de_ocupacion_plazas,tasa_de_ocupacion_habitaciones,facturacion_total_en_pesos
0,2012-01-01,Buenos Aires,1 y 2 estrellas,0.63,0.65,4.481112e+07
1,2012-01-01,Buenos Aires,3 estrellas/boutiques/aparts,0.67,0.72,8.800060e+07
2,2012-01-01,Buenos Aires,4 y 5 estrellas,0.62,0.67,6.847462e+07
3,2012-01-01,Buenos Aires,Para Hoteles,0.69,0.76,8.122050e+07
4,2012-01-01,Buenos Aires,Total,0.66,0.71,NaN
...,...,...,...,...,...,...
5175,2024-04-01,Patagonia,1 y 2 estrellas,0.36,0.48,2.825963e+09
5176,2024-04-01,Patagonia,3 estrellas/boutiques/aparts,0.29,0.39,6.432717e+09
5177,2024-04-01,Patagonia,4 y 5 estrellas,0.36,0.49,1.579218e+10
5178,2024-04-01,Patagonia,Para Hoteles,0.21,0.26,2.517031e+09
5179,2024-04-01,Patagonia,Total,0.30,0.42,NaN

---------------------------------------

In [116]:
data = data1.merge(data2, on=['indice_tiempo', 'region_de_destino'], how='outer')
data.head()

,indice_tiempo,region_de_destino,origen_viajeros,viajeros,estadia_media_en_noches,categoria_del_hotel,tasa_de_ocupacion_plazas,tasa_de_ocupacion_habitaciones,facturacion_total_en_pesos
0,2007-01-01,Buenos Aires,Residentes,401221.0,5.3,NaN,NaN,NaN,NaN
1,2007-01-01,Buenos Aires,No residentes,12889.0,3.8,NaN,NaN,NaN,NaN
2,2007-01-01,Buenos Aires,Total,NaN,5.3,NaN,NaN,NaN,NaN
3,2007-01-01,CABA,Residentes,139181.0,2.3,NaN,NaN,NaN,NaN
4,2007-01-01,CABA,No residentes,196750.0,2.4,NaN,NaN,NaN,NaN

**Dentro del periodo de las vacaciones de verano del 2020-2021, ¿qué tipo de turistas (residentes o
no residentes) tuvieron estadías más largas? ¿El levantamiento de las etapas de la cuarentena
ayudó a su incremento en el tiemp**o?

In [59]:
vacac_verano_20_21 = data[(data['indice_tiempo'] >= '2020-12-18') & (data['indice_tiempo'] <= '2021-02-01')]
vacac_verano_20_21.head()

,indice_tiempo,region_de_destino,origen_viajeros,viajeros,estadia_media_en_noches,categoria_del_hotel,tasa_de_ocupacion_plazas,tasa_de_ocupacion_habitaciones,facturacion_total_en_pesos
12600,2021-01-01,Buenos Aires,Residentes,169606.0,4.0,1 y 2 estrellas,0.28,0.31,200734296.0
12601,2021-01-01,Buenos Aires,Residentes,169606.0,4.0,3 estrellas/boutiques/aparts,0.33,0.38,574387225.0
12602,2021-01-01,Buenos Aires,Residentes,169606.0,4.0,4 y 5 estrellas,0.32,0.37,448107951.0
12603,2021-01-01,Buenos Aires,Residentes,169606.0,4.0,Para Hoteles,0.37,0.41,563676218.0
12604,2021-01-01,Buenos Aires,Residentes,169606.0,4.0,Total,0.33,0.37,NaN

Turismo verano 2020-2021

In [79]:
turis_estadias = vacac_verano_20_21.groupby('origen_viajeros')['estadia_media_en_noches']
prom_turistas_verano2020 = turis_estadias.mean()
prom_turistas_verano2020

origen_viajeros
No residentes    2.542857
Residentes       2.785714
Total            2.771429
Name: estadia_media_en_noches, dtype: float64

Turismo pre verano 2020

In [112]:
cuarent_2020 = data[(data['indice_tiempo'] >= '2020-03-20') & (data['indice_tiempo'] <= '2020-10-31')]
turismo_cuarent_20 = cuarent_2020.groupby('origen_viajeros')['estadia_media_en_noches']
prom_turistas_cuarent_2020 = turismo_cuarent_20.sum()
prom_turistas_cuarent_2020

origen_viajeros
No residentes    0.0
Residentes       0.0
Total            0.0
Name: estadia_media_en_noches, dtype: float64

**Tener en cuenta que el turismo comienza a tener normalidad entre noviembre y diciembre de 2020.

**Teniendo en cuenta el punto anterior, ¿cuál es la región del país que menos facturación tuvo durante
ese periodo? ¿Eran las mismas pre 2020? ¿Hubo algún cambio de preferencia**?

Regiones con menos recaudación en el verano 2020-2021

In [145]:
region_facturac = vacac_verano_20_21.groupby('region_de_destino')['facturacion_total_en_pesos']
region_fact_20_21_a = region_facturac.sum()
region_fact_20_21_b = region_fact_20_21_a.fillna(0)
region_fact = region_fact_20_21_b.sort_values(ascending=True)
region_fact.head()

region_de_destino
CABA       0.000000e+00
Norte      3.019155e+09
Cuyo       3.452416e+09
Litoral    5.069056e+09
Córdoba    7.392340e+09
Name: facturacion_total_en_pesos, dtype: float64

Regiones según recaudación pre 2020 (datos desde 2007)

In [164]:
fact_pre_2020 = data[(data['indice_tiempo'] <= '2020-03-20')] # REVER PERIODOS DE TIEMPO ELEGIDOS
aa = fact_pre_2020.groupby('region_de_destino')['facturacion_total_en_pesos']
bb = aa.sum()
cc = bb.fillna(0)
fact_region_pre_2020 = cc.sort_values(ascending=True)
fact_region_pre_2020.head()

region_de_destino
Córdoba         6.105507e+10
Norte           7.210058e+10
Cuyo            8.665739e+10
Buenos Aires    8.934292e+10
Litoral         1.218394e+11
Name: facturacion_total_en_pesos, dtype: float64

**¿Qué categorías de alojamiento fueron las más exitosas en ocupación entre 2022 y 2024?
¿Demuestra algún tipo de progreso económico o no**?